.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #d3a97a;
}

.header {
    background-color: #1a1a1a;
    padding: 50px 0;
    text-align: center;
    border-bottom: 2px solid #d3a97a;
}

.header-title {
    margin: 0;
    font-size: 3em;
}

.header-subtitle {
    font-size: 1.5em;
}

.section {
    padding: 50px 0;
    text-align: center;
    border-bottom: 2px solid #d3a97a;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.package-list,
.services-list {
    list-style: none;
    padding: 0;
}

.service-item,
.package-item {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer {
    background-color:  #1a1a1a;
    padding: 20px 0;
    text-align: center;
}

.footer-text {
    margin: 0;
    font-size: 1em;
}

.package {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #d3a97a;
}

.package-title {
    font-size: 2em;
    margin-bottom: 15px;
}

.photo-grid,
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.event-photo,
.testimonial-photo {
    width: 100%;
    height: auto;
    border: 2px solid #d3a97a;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons-link {
    color: #d3a97a;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
}

.social-icons-link:hover {
    color: #fff;
}

.floating-phone {
    position: fixed;
    bottom: 110px;
    right: 20px;
    background-color: #d3a97a;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.floating-phone-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.floating-phone-icon {
    margin-right: 10px;
}

.phone-number {
    font-size: 1em;
    font-weight: bold;
}

.floating-phone:hover {
    background-color: #ffa500;
}

.anna-photos {
    display: flex;
    justify-content: center;
}

.photo {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-anna {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
    margin: 0 7px;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(63, 63, 63, 0.5);
}

.main-avatar {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 43%;
}

.more-reviews-link {
    color: #d3a97a;
    text-decoration: none;
    font-size: 1.5em;
}

.more-reviews-link:hover {
    color: #fff;
}

.steps .container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps .step {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 600px;
}

/* .steps .step:not(:last-child) .step-number-circle::after {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% + 30px);
    background-color: #d3a97a;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
} */

.steps .step-number-circle {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: #d3a97a;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}


.steps .step-content {
    text-align: center;
    padding-left: 0;
}

.steps .step-title {
    font-size: 1.5em;
    color: #d3a97a;
    margin-bottom: 10px;
    text-align: left;
}

.steps .step-text {
    font-size: 1.2em;
    color: #fff;
    text-align: left;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid  #d3a97a;
    margin: 0 auto;
}